body{
    text-decoration: none;
    background-color: #dde0e5;
    font-family: 'AR One Sans', sans-serif;
}
.property-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    box-shadow: 2px 2px 10px rgb(214, 213, 213);
    border-radius: 15px;
  }
.btn{
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-y: 0.3rem;
    --bs-btn-font-size: 0.75rem;
    border-radius: 13px;
}
p{
  margin-bottom: 0rem;
}
.main-city{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        margin-bottom: 16px;
        background: #dde0e5;
      box-shadow: 0 8px 32px 0 #d1d5dc;
      backdrop-filter: blur( 7px );
      -webkit-backdrop-filter: blur( 7px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );     
}
/* .city-tabs{
    border: 1px solid;
} */

.city-tabs a{
    border: none;
    text-decoration: none;
    border-radius: 12px;
    height: 30px;
    width: 100px;
    color: black;
}
.city-tabs a.active{
    background-color: #3437db;
    color: white;
}
.view-all{
    color: #3437db;
    border: 1px solid #3437db;
    border-radius: 12px;
    width: 110px;
    text-align: center;
    height: 30px;
    font-weight: bold;
    margin: auto;
}